# Secrets
.env
.env.*
!.env.example
*.pem
*.key

# Python
__pycache__/
*.pyc
*.pyo

# Django
staticfiles/
media/
*.sqlite3

# Environnements virtuels
.venv/
venv/
env/

# Tests
.coverage
htmlcov/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/